.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding:40px 0px 50px 0px;
  }
  
  .listWrapper {
    width: 100%;
    max-width: 1300px;
    display: flex;
    gap: 20px;
  }
  
  .listSearch {
    flex: 1;
    max-width: 360px;
    background-color: #cdb063;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 80px;
    height: max-content;
  }
  
  .lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .lsItem>label{
    padding-bottom: 3px;
    padding-left: 10px;
    font-size: 16px;
  }
  
  .lsItem>input{
    border-radius: 10px;
  }
  .lsItem>span{
    height: 30px;
    padding: 5px 15px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .listSearch>button{
    padding: 10px;
    background-color: #285d93;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
  }
  
  .listResult {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .notification {
    display: flex;
    font-size: 50px;
    align-items: center;
    justify-content: center; 
    margin-left: 300px;
  }