.movieContainer {
    display: block;
    justify-content: center;
    margin-top: 50px;
    padding:70px 100px 50px 100px;
  }
  .movieTitle {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(255, 111, 0);
    width: 500px;
    padding: 15px 0px;
    margin: 0 auto;
    border-radius: 50px;
  }

  
  .movieResult {
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .notification1 {
    display: flex;
    font-size: 50px;
    align-items: center;
    justify-content: center; 
    margin-left: 300px;
  }